*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

html{
    --background: #19329e;
}

body{
    font: inherit;
    background: var(--background);   
}

header{
    background: yellow;
    display: flex;
    width: 100%;
    max-height: 15vh;
    padding: 10px;
}
.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.left img{
    width: 70px;
    border-radius: 50%;
}

.right{
    width: 50%;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
}

.right ul{
    display: contents;
    list-style-type: none;
}

#aboutus{
    height: 90vh;
}

#projects {
    height: 100vh;
}

#aboutus div{
    text-align: center;
    width: 100%;
    height: 50%;
    margin: auto;
    align-content: center;
}

#projects{
    background-color: red;
}

#projects div{
    text-align: center;
    width: 40%;
    height: 100%;
    align-content: center;
    float: left;
}

#projects .projectsPreview{
    width: 60%;
}

#projects .projectsPreview img{
    width: 50%;
    border-radius: 10px;
}

#questionAnswer{
    background-color: orange;
    height: 50vh;
}

.questions{
    width: 95%;
    height: 100%;
    padding: 12px;
}

.questions details{
    width: 90%;
    margin: auto;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}

.questions summary{
    text-decoration: underline;
}

.questions details[open]{
    background-color: white;
    color: black;
}